# Models
model_servers.yaml
models/
# Vscode files
.vscode/
# Python cache files
__pycache__/
*.py[cod]
# Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Environment files
.env
.venv/
# Logs
logs/*.log
# MacOS files
.DS_Store
# Anything inside a folder starting with .
*/*/.*
# Ignore data
data/